body {
    background-color: #000000;
    margin: 0;
}

.container {
    width: 70%;
    margin: auto;
    text-align: center;
}

.dice {
    text-align: center;
    display: inline-block;
    margin: 10px;
}

h1 {
    margin: 30px;
    font-family: "Lobster", cursive;
    font-size: 5rem;
    color: #ffffff;
    text-align: center;
}

p {
    font-size: 2rem;
    color: #ffffff;
    font-family: "Indie Flower", cursive;
}

.img1, .img2 {
    width: 100%;
}

.bottom {
    padding-top: 30px;
}

.btn {
    background: rgb(0, 0, 0);
    border: rgb(255, 255, 255) 1px solid;
    color: white;
    font-family: "Indie Flower", cursive;
    border-radius: 8px;
    font-size: 30px;
    padding: 16px 25px 16px 25px;
    text-decoration: none;
}

.btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.btn:active {
    transform: scale(0.9);
}